html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo Paaji 2', cursive;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.flex_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

header {
    background-color:#2d545e;
    box-shadow: 0px 0px 10px 5px black;
    color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    padding: 20px 0px;
    margin-bottom: 40px;
}

header a {
    color: rgb(0, 0, 0);
    margin-right: 10px;
    text-shadow: none;
}

header a:hover {
    color: white;
}

header a:active {
    color: white;
}

h3, h4 {
    margin: 0px;
}

#search {
    padding-top: 10px;
    font-family: arial;
    position: absolute;
    top: 225px;
    right: 10px;
}

#searchCountry {
    display: none;
    background-image: url('search_icon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 170px;
    font-size: 16px;
    padding: 12px 0px 12px 40px;
    border: 3px solid rgb(151, 151, 151);
}

#countryList {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    width: 90vw;
    max-height: 80vh;
  }
  
  #countryList li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(41, 31, 31);
    display: block
  }
  
  #countryList li:hover:not(.header) {
    background-color: #eee;
  }

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #2d545e;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin: auto;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

#province_info_block {
    width: 520px;
    margin: auto;
    margin-top: 40px;
    border: 2px solid black;
    background-color: #D9D9D9;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 10px;
    transition: all 0.5s;
}

#province_info_block:hover {
    transform: scale(1.05)
}

#unallocated, #graph_msg {
    width: 520px;
    margin: auto;
    margin-top: 40px;
    border: 2px solid black;
    background-color: #D9D9D9;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 10px;
    transition: all 0.5s;
}

#unallocated:hover, #graph_msg:hover {
    transform: scale(1.05)
}

main.home {
    padding-bottom: 320px;
}

main.about {
    padding: 0px 20px;
    padding-bottom: 180px;
    font-size: 15px;
}

main.about a {
    color: black;
    font-weight: bold;
}

main.about a:hover {
    color: #2d545e;
}

main.media {
    padding: 0px;
    padding-bottom: 180px;
}

.media_title {
    margin: 0px;
}

#medias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

video {
    max-width: 500px;
    border: 2px solid #2d545e;
}

main.contact {
    padding: 0px 20px;
    padding-bottom: 180px;
}

main.contact h2 {
    margin: 0px;
}

main.contact a {
    color: black;
    font-weight: bold;
    display: inline;
}

main.contact a:hover {
    color: #2d545e;
}

#countdown {
    font-family: 'Bebas Neue', cursive;
    margin-top: 10px;
}

#death_rate, #selected_death_rate {
    color: red;
    margin: 0px;
}

#recovery_rate, #selected_recovery_rate {
    color: green;
    margin: 0px;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    text-shadow: none;
    width: 100%;
}

#heading {
    font-family: 'Old Standard TT', serif;
    font-size: 60px;
}

footer a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 20px 0px;
}

footer a:hover {
    color: rgb(145, 145, 145);
}

footer .fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    text-shadow: none;
    color: white;
  }
  
footer .fa:hover {
    opacity: 0.7;
}

footer .fa-linkedin {
    background: black;
}

footer .fa-instagram {
    background: black;
}

footer .fa-github {
    background: black;
}

.fa-angle-up {
    font-size: 60px;
    margin-bottom: 10px;
}

footer div {
    margin: 0px;
    margin-top: 10px;
    padding: 10px;
    background-color: #2d545e;
    font-size: 20px;
    color: white;
}

footer div a {
    color: black;
}

footer div a:hover {
    text-decoration: underline;
}

h1 { 
    margin: 0px;
}

#global-covid-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin-bottom: 20px;
}

#global-covid-stats h3 {
    width: 100%;
}

#covid-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}

#covid-stats h3 {
    width: 100%;
}

.stat {
    padding-top: 30px;
    width: 250px;
    border: 2px solid black;
    margin: 10px;   
    font-weight: bold;
    background-color: #D9D9D9;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 10px;
    transition: all 0.5s;
}

.stat:hover {
    transform: scale(1.05)
}

#covid-stats .stat i {
    font-size: 50px;
    color: #2d545e;
}

#global-covid-stats .stat i {
    font-size: 50px;
    color: black;
}

.global_number {
    display: block;
    margin-top: 20px;
    margin-bottom: -20px;
    font-size: 30px;
}

.number {
    display: block;
    margin-top: 20px;
    margin-bottom: -20px;
    font-size: 30px;
}

#sa_map_svg {
    width: 1000px;
    margin-top: 40px;
    fill: black;
    stroke: #ffffff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    margin-bottom: -700px;
}

#ZAF1189 {
    fill: #2d545e;
}

path:hover {
    fill: rgb(145, 145, 145);
}


.graphs {
    width: 95%;
    margin: auto;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.graph_container {
    width: 1000px;
    border: 2px solid black;
    margin: 20px auto;
    background-color: #D9D9D9;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 10px;
}

.nope {
    display: none;
}

.mobile {
    display: none;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media screen and (max-width: 1000px) {
    #sa_map_svg {
        width: 95vw;
        margin-bottom: -600px
    }

    .media_title {
        font-size: 15px;
    }
}

@media screen and (max-width: 830px) {
    #sa_map_svg {
        margin-bottom: -500px
    }
}

@media screen and (max-width: 725px) {
    main.media {
        padding-bottom: 200px;
    }

    main.about {
        padding-bottom: 200px;
    }

    main.contact {
        padding-bottom: 200px;
    }
}

@media screen and (max-width: 700px) {
    #sa_map_svg {
        margin-bottom: -400px
    }
}

@media screen and (max-width: 677px) {
    #search {
        top: 295px;
    }
}

@media screen and (max-width: 650px) {
    main.home {
        padding-bottom: 360px;
    }
}

@media screen and (max-width: 550px) {
    #sa_map_svg {
        margin-bottom: -350px
    }
}

@media screen and (max-width: 500px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
    
    #search {
    top: 215px;
    right: calc(50% - 105px);
    }

    #global_stats_title {
        padding-top: 20px;
    }

    main.home {
        padding-bottom: 400px;
    }

    main.media {
        padding-bottom: 230px;
    }

    video {
        width: 95%;
    }

    main.about {
        padding-bottom: 230px;
    }

    main.contact {
        padding-bottom: 230px;
    }

    a.contact {
        font-size: 1rem;
    }

    #province_info_block, #unallocated, #graph_msg {
        width: 90%;
    }

    #sa_map_svg {
        margin-bottom: -300px
    }

    .graph_container {
        width: 800px;
    }

    header #heading {
        font-size: 40px;
    }

    header h3 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 410px) {
    #sa_map_svg {
        margin-bottom: -250px
    }
}

@media screen and (max-width: 353px) {
    main.media {
        padding-bottom: 250px;
    }

    main.contact {
        padding-bottom: 250px;
    }

    main.about {
        padding-bottom: 250px;
    }
}

@media screen and (max-width: 350px) {
    #sa_map_svg {
        margin-bottom: -230px
    }
}

@media screen and (max-width: 244px) {
    #search {
        top: 265px;
    }
}